<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Who I Am</h2>

                <p class="default-p">
                    I am <strong>Nour Jad</strong>,from egypt, a dedicated Software Engineer with a passion for building scalable and efficient web applications.
                    My journey in technology is driven by a curiosity for how complex systems work and a commitment to creating seamless digital experiences.
                </p>

                <h3 class="default-topic" style="font-size: 1.5rem; margin-top: 20px;">Technical Focus (MEAN Stack)</h3>
                <p class="default-p">
                    My core expertise lies in the <strong>MEAN Stack (MongoDB, Express.js, Angular, and Node.js)</strong>.
                    I have honed my skills in building scalable applications that prioritize performance, robust back-end architectures, and dynamic user interfaces.
                </p>

        <button>
            <a routerLink="/contact"  class="a-green">
                > Contact me
            </a>
        </button>
            </div>
        </div>
    </div>
</div>
