<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p>&copy; {{ currentYear }} | Developed and designed by <span class="footer-highlight">Nour Jad</span></p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/nour-jad-901449245/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/NOoOUR14" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:nour.jad1997@gmail.com" aria-label="Email">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
