<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Nour Jad.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/nour-jad-901449245/" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/NOoOUR14" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
          <a href="mailto:your-email@gmail.com" target="_blank">
  <i class="fas fa-envelope"></i>
</a>
      </div>
    </div>
  </div>
</footer>
