<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">Nour Jad, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I am a developer with "Passionate Software Engineer & Back-End Developer specializing in the MEAN Stack. I thrive on building scalable, high-performance web applications using MongoDB, Express.js, Angular, and Node.js. With a solid foundation in architectural design and a focus on creating robust APIs and seamless user experiences, I bridge the gap between complex server-side logic and dynamic front-end interfaces. Currently deep-diving into the latest Angular innovations and modern software engineering practices to deliver impactful digital solutions."6 years experience in building software. I leverage my fluency in English, college education, and coding skills to craft accessible, scalable and high-performance applications.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
