<div class="accordion-left">
  <mat-accordion>
    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Languages</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Very good <strong><span class="default-highlight">English</span></strong></p>
        <p>Native <strong><span class="default-highlight">Arabic</span></strong></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>University</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>2021 Technology <strong><span class="default-highlight">Software Engineering</span></strong> - Bachelor's Degree in technology from Benha university</p>

        <p>2026 - NTI - <strong><span class="default-highlight">MEAN Stack</span></strong> - Bachelor's Degree </p>

      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Technical</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>NTI Creativa Innovation Hub - Giza - <strong><span class="default-highlight">Full Stack Development (MEAN Stack) | NTI Scholarship, Spring and Angular</span></strong> - Feb/2026</p>
        <ul>
          <li>
Developing dynamic and responsive web applications using the MEAN stack (MongoDB, Express.js, Angular, and Node.js).
Building robust RESTful APIs and managing server-side logic with Node.js and Express.
Designing and integrating NoSQL databases using MongoDB for efficient data storage.
Creating modular Front-End components with Angular and ensuring high performance and UI consistency.
VIBE & STITCH | E-commerce Project
Designing and implementing a Gen Z-focused clothing brand platform as a graduation project.
Utilizing modern software engineering practices to deliver a seamless shopping experience.
          </li>
        </ul>
        <p>Udemy - Jonas Schmedtmann - <strong><span class="default-highlight">Node.js, Express, MongoDB & More: The Complete Bootcamp</span></strong> - April/2026</p>
        <ul>
          <li>
Building fragmented, insecure, and hard-to-scale backend services. Solution: Mastered full-cycle backend development by architecting RESTful APIs using Node.js and Express, implementing advanced MongoDB modeling, and ensuring production-ready security patterns and performance optimization          </li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Techs I use</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tech-board">
        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-angular-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-typescript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-html5-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-bootstrap-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-python-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-git-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-plain colored"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-vscode-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-nodejs-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-express-plain colored"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-mongodb-plain colored"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-angularjs-plain colored"></i>
        </div>

        <div class="tech-cell">
          <i class="devicon-github-webhooks-plain colored"></i>
        </div>

        <div class="tech-cell">
            <i class="devicon-gemini-plain colored"></i>
      </div>
      <div class="tech-cell">
          <i class="devicon-postman-plain colored"></i>
      </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
